<launch>

  <!-- GDB functionality -->
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <!-- load Baxter's trajectory controller -->
  <node name="baxter_trajectory_controller" pkg="baxter_interface" type="trajectory_controller.py"
      respawn="false" output="screen" args="-l both">
    <rosparam command="load" file="$(find baxter_control)/config/trajectory_controller.yaml"/>
  </node>

  <!-- Display image on Baxter face -->
  <node name="face" pkg="head_control" type="xdisplay_image.py" 
	args="--file=$(find baxter_moveit_config)/media/hal.jpg" />

  <!-- Mute Baxter's sonars -->
  <node name="baxter_mute_sonar" pkg="baxter_control" type="sonar_enable.py"
	respawn="false" output="screen" args="--enable=0"/>

  <!-- Load gripper controller -->
  <node name="baxter_gripper_server" pkg="baxter_gripper_server" type="gripper_action_server" 
	respawn="false" output="screen" launch-prefix="$(arg launch_prefix)" />
  
</launch>