<launch>

  <group ns="robot">

    <!-- convert joint states to TF transforms -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	  respawn="false" output="screen">
      <remap from="/joint_states" to="/robot/joint_states" />
    </node>

  </group>

</launch>