<launch>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/baxter" args="--namespace=/baxter
					   joint_state_controller
					   right_s0_position_controller
					   right_s1_position_controller
					   right_e0_position_controller
					   right_e1_position_controller
					   right_w0_position_controller
					   right_w1_position_controller
					   right_w2_position_controller
					   left_s0_position_controller
					   left_s1_position_controller
					   left_e0_position_controller
					   left_e1_position_controller
					   left_w0_position_controller
					   left_w1_position_controller
					   left_w2_position_controller" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <remap from="/joint_states" to="/baxter/joint_states" />
  </node>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find baxter_control)/config/baxter_individual_control.yaml" command="load"/>

  <!-- Load gripper controller -->
  <!--node name="baxter_gripper_controller" pkg="baxter_gripper_controller" type="gripper_action_server" 
	respawn="false" output="screen" /-->
  
</launch>