<?xml version="1.0" encoding="utf-8"?>
<launch>

  <group ns="robot">

    <!-- GDB functionality -->
    <arg name="debug" default="false" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />
    <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

    <!-- Load URDF -->
    <include file="$(find baxter_moveit_config)/launch/planning_context.launch">
      <arg name="load_robot_description" value="true"/>
    </include>

    <!-- Load hardware interface -->
    <node name="baxter_hardware_interface" pkg="baxter_control" type="baxter_hardware_interface" 
	  respawn="false" output="screen" launch-prefix="$(arg launch_prefix)" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find baxter_control)/config/baxter_controllers.yaml" command="load"/>

    <!-- Load the default controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	  output="screen" ns="/robot" args="right_joint_position_trajectory_controller	   
					    " />  
  </group>
</launch>