<launch>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
	 command="cat '$(find baxter_description)/urdf/baxter.urdf'" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- Load other configurations shared between all three Baxter run modes-->
  <include file="$(find baxter_control)/launch/baxter_configure.launch"/>    

</launch>
