[scene]
name=industrial
output=/home/dave/ros/ws_baxter/src/baxter/baxter_benchmarking/config/test_scene
runs=1
start=start
goal=industrial_pose_0000
timeout=3
group=left_arm

[plugin]
name=ompl_interface/OMPLPlanner
planners=left_arm[SBLkConfigDefault] left_arm[LBKPIECEkConfigDefault] left_arm[RRTkConfigDefault] left_arm[RRTConnectkConfigDefault] left_arm[ESTkConfigDefault] left_arm[KPIECEkConfigDefault] left_arm[BKPIECEkConfigDefault] left_arm[RRTstarkConfigDefault] 