<launch>

  <!-- Set the param that trajectory_execution_manager needs to find the controller plugin -->
  <arg name="moveit_controller_manager" default="pr2_moveit_controller_manager/Pr2MoveItControllerManager" />
  <param name="moveit_controller_manager" value="$(arg moveit_controller_manager)"/>

  <!-- The rest of the params are specific to this plugin -->

  <!-- If a controller manager is running (the generic one, not the MoveIt! one), we can talk to is via action interfaces.
       But we need to know its name. -->
  <arg name="controller_manager_name" default="pr2_controller_manager" />
  <param name="controller_manager_name" value="$(arg controller_manager_name)" />

  <!-- Flag indicating whether the controller manager should be used or not -->
  <arg name="use_controller_manager" default="false" />
  <param name="use_controller_manager" value="$(arg use_controller_manager)" />
  
  <!-- load controller_list and controller_manager_ns -->
  <rosparam file="$(find baxter_moveit_config)/config/baxter_controllers.yaml"/>

</launch>
