<launch>

  <!-- load hardware interfaces -->
  <include file="$(find baxter_control)/launch/baxter_bringup.launch">
  </include>

  <!-- load move_group -->
  <include file="$(find baxter_moveit_config)/launch/baxter_moveit.launch">
  </include>

  <!-- start pick place -->
  <include file="$(find baxter_pick_place)/launch/block_pick_place.launch">
  </include>

</launch>
