<?xml version="1.0" encoding="utf-8"?>
<launch>

  <!-- load urdf, srdf -->
  <include file="$(find baxter_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <!--Start the test -->
  <node name="grasp_generator_test" pkg="block_grasp_generator" type="block_grasp_generator_test" output="screen">
    <rosparam command="load" file="$(find baxter_moveit_config)/config/kinematics.yaml"/>
  </node>

</launch>
