<?xml version="1.0" encoding="utf-8"?>
<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <arg name="allow_trajectory_execution" default="true"/>

  <!-- Launch controller manager in this namespace -->
  <include ns="verticle_approach_test" file="$(find baxter_moveit_config)/launch/trajectory_execution.launch">
    <arg name="moveit_controller_manager" value="baxter" /> 
    <arg name="moveit_manage_controllers" value="true" />
  </include>

  <!-- load sensor manager data -->
  <include ns="verticle_approach_test" file="$(find baxter_moveit_config)/launch/sensor_manager.launch" if="$(arg allow_trajectory_execution)">
    <arg name="moveit_sensor_manager" value="baxter" /> 
  </include>

  <!--Start the test -->
  <node name="verticle_approach_test" pkg="baxter_pick_place" type="verticle_approach_test" 
	output="screen" launch-prefix="$(arg launch_prefix)">
    <remap from="/joint_states" to="/robot/joint_states" />
    <rosparam command="load" file="$(find baxter_moveit_config)/config/kinematics.yaml"/>
  </node>

</launch>
